<div ng-controller="deleteContactCtrl">
	<div class="page-title">
		<div class="title_left">
			<h3>Delete Contact</h3>
		</div>
	</div>
	<div class="ln_solid"></div>
	<div class="form-group">
		<div class="col-sm-3">
			<div ng-dropdown-multiselect="" options="contactList"
				selected-model="searchSelectAllModel" checkboxes="true"
				extra-settings="searchSelectAllSettings">
			</div>
		</div>
		<div class="">
			<button type="submit" class="btn btn-warning" ng-click="deleteContact()">Delete</button>
		</div>
	</div>
	<div class="ln_solid"></div>
</div>