<div class="row">
<div class="col-md-4 col-md-offset-7">
	<div class="panel panel-default">
		<div ng-controller="loginCtrl">
			<tws-login-Heading></tws-login-Heading>
			<div class="panel-body">
				<div class="form-horizontal" role="form">
					<div class="form-group">
						<div class="col-sm-12">
							<tws-input-user-name></tws-input-user-name>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<tws-input-password></tws-input-password>
							<tws-incorrect-login-response></tws-incorrect-login-response>
						</div>
					</div>
					<!-- <div class="form-group">
						<div class="col-sm-offset-1 col-sm-9">
							<tws-remember-me></tws-remember-me>
						</div>
					</div> -->
					<div class="form-group last">
						<div class="col-sm-offset-1 col-sm-9">
							<tws-sign-in></tws-sign-in>
						</div>
					</div>
				</div>
			</div>
			<tws-panel-footer></tws-panel-footer>
		</div>
	</div>
</div>
</div>