<div class="row">
	<div class="col-md-4 col-md-offset-7">
		<div class="panel panel-default">
			<div ng-controller="signUpCtrl">
				<tws-signup-heading></tws-signup-heading>
				<div class="panel-body">
					<div class="form-horizontal" role="form">
						<div class="form-group">
							<div class="col-sm-12">
								<tws-input-first-name></tws-input-first-name>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<tws-input-last-name></tws-input-last-name>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<tws-input-user-name></tws-input-user-name>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<tws-input-password></tws-input-password>
								<tws-validation-response></tws-validation-response>
							</div>
						</div>
						<div class="form-group last">
							<div class="col-sm-offset-1 col-sm-9">
								<tws-sign-up> </tws-sign-un>
							</div>
						</div>
					</div>
					
				</div>
				<tws-panel-signup-footer></tws-panel-signup-footer>
			</div>
		</div>
	</div>
</div>