body { 
 background: url('../resources/images/background-img.jpg') no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 
}

.panel-default {
 opacity: 0.95;
 margin-top:20%;
 width: 90%;
 border-color: lightslategray;
}
.form-group.last {
 margin-bottom:0px;
}
.label-header {
 font-size: 12px;
 color:white;
}
.form-control {
 font-size: 13px;
}
.checkBox-label {
    font-size: 13px;
    font-weight: bold;
    color:white;
}.panel-footer {
    font-size: 13px;    
}
.panel {
    background-color: lightslategray
}
.panel-heading {
    background-color: #F5F5F5;
}.label-reset {
    padding-right: 3px;
}
input:focus {
    background-color: whitesmoke;
}
.response-label {
    font-size: 13px;
    color:#FF3333;
}
body{
    background-color: lightslategray
}